# Node.js
node_modules/
package-lock.json

# Cypress: artifacts
cypress/videos/
cypress/screenshots/
cypress/reports/mochawesome/
mochawesome.json
report.html

# IDE / system
.idea/
.vscode/
.DS_Store